.App{
    background-image:url("https://de-production.imgix.net/colors/browser/de5210.jpg?fit=fill&bg=ffffff&fm=jpeg&auto=format&lossless=1");
    background-position: center center ; 
    background-size: cover;
     background-attachment: fixed;
     overflow: scroll;
     transition: all 0.3s;
}