

.jumbotron {

    background-color: #efebe9;
    margin: 0 auto;
    background:none; 
    padding: 2rem 1rem;
    border-radius: .3rem;
    width: 100%;
    
   

    
  }


    .logout-img {
    vertical-align: middle;
    border-style: none;
    height: 75vh;
    width: 45%;
    box-shadow: 4px 6px 6px 6px;
 }

   @media only screen and (min-width: 768px) {
    .Home {
      flex-direction: row
    }
  }

    

