.Home{
    cursor: pointer;
    background-image:url("https://i.pinimg.com/736x/5c/e8/92/5ce8924c34c23647180900a931d1c10a.jpg");
    background-position: center center ; 
    background-size: cover;
     background-attachment: fixed;
     overflow: scroll;
     transition: all 0.3s;
}



