.jumbotron {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzYSWAqnqqfx9AErhPrf3Tm-lnD0w03wFmurwbq9-NIait-hC3VQ&s");
    background-position: center center ; 
    background-size: cover;
    background-attachment: fixed
}