.Blog{
    font-family: 'Acme', sans-serif;
    max-width: 700px;
    margin: auto;
}
.blogArticle {
    background-color: #e7e7e7;
    margin: 0 auto;
    position: absolute;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BlogContainer{
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
     // width: 75vw;
     //height: 100vh;
}

.subConBlog {
    border: 1px solid BLACK;
    background-color: #e7e7e7;
    padding: 2rem;
    margin: 15px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px;
    
}

.blog-img {
    width: 200px;
    float: left;
    padding:2rem;
}

.Blog-title{
    align-content: center;
    font-size: 1.25rem;
    text-indent: 50px;
    
}

.Blog-Article{
    font-stretch: extra-condensed;
    padding: 1rem;
    font-size: 1rem;
    text-align-last: left;
    text-align: initial;
    text-indent: 50px;
}
.button{
    color:#FFFFFF !important;
    border:0.16em solid rgba(255,255,255,0) !important;
    background-color:#f14ebd!important;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    margin: 1rem;
    border-radius: 50% !important;
}



