////.UserPage{
    //display:flex;
//}

.btn-warning {
    width: 65px;
    color: #212529;
    background-color: rosybrown;
    border-color: #ff370700;
    font-size: small;
    height: 40px;
}

.btn-info {
    background-color: rosybrown;
  }

  .card{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-fashion-fall-foliage-new-products-background-image_163281.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: .25rem;
  }
  