////.UserPage{
    //display:flex;
//}

.deleteButton {
    color: #212529;
    background-color: rosybrown !important;
    border-color: #ff370700;
}

.btn-info {
    background-color: rosybrown !important;
    border-color: black !important;

  }

  .card{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-fashion-fall-foliage-new-products-background-image_163281.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: .25rem;
  }
  