.SingleProduct {
    background-color: #e7e7e7;
    margin: 0 auto;
    position: absolute;
    width:100%;
    font-family: 'Acme', sans-serif;
}
.productContainer{
    border: 1px solid BLACK;
    box-shadow: 1px 2px 2px 1px;
    padding: 2rem;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    max-width:fit-content;
}
.subContainer {
    border: 1px solid BLACK;
    box-shadow: 1px 2px 2px 1px;
    padding: 2rem;
    margin: 15px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:700px;
    border-radius: 10px;
    border:1px solid rosybrown;
    height: 100%;
    box-shadow: 2px 4px 4px 4px;

}
.Single{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-title {
    margin-bottom: .50rem;
    text-indent: 50px;
    float: left;
    
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    
    margin: 1rem;
    

}
.product-img{
    float: left;
    width: 200px;
   padding: 2rem;
}


.SingleProduct{
    cursor: pointer;
}

.buttonsingle {
    color: black !important;
    border:0.16em solid rgba(255,255,255,0) !important;
    background-color:#6ebd08 !important;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    margin:1rem;
    border:0.16em solid rgba(255,255,255,0) !important;
    margin: 1rem;
    border-style: double;
    border:0.16em solid rgba(255,255,255,0);
    border-radius: 25% !important;
  
    
}

.buttondanger{
    color:#FFFFFF !important;
    border:0.16em solid rgba(255,255,255,0) !important;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35) !important;
    margin-bottom: 4rem;
    background-color:#4e9af1!important;
    border:0.16em solid rgba(255,255,255,0) !important;
    margin: 1rem;
    border-style: double;
    border:0.16em solid rgba(255,255,255,0);
    border-radius: 25% !important;
    
}

@media only screen and (min-width: 768px) {
    .Home {
      flex-direction: row
    }
  }

.ReviewBtn{
    border:0.16em solid rgba(255,255,255,0) !important;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    margin: 1rem;
    box-shadow: 1px 2px 2px 1px;
    background-color:#4e9af1!important;
    color:#FFFFFF !important;
    border:0.16em solid rgba(255,255,255,0) !important;
    margin: 1rem;
    border-style: double;
    border:0.16em solid rgba(255,255,255,0);
    border-radius: 25% !important;
   

}

.comment-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
     overflow: scroll;
    height: 150px;
}
    