.SingleProduct {
    background-color: #e7e7e7;
    margin: 0 auto;
    position: absolute;
    width:100%;
}
.productContainer{
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   // width: 75vw;
// height: 100vh;
    background-color: white;
    border-radius: 10px;
    max-width:fit-content;
}
.subContainer {
    margin: 15px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    ////width: 75vw;
    //height: 95vh;
    width:700px;
    border-radius: 10px;
    border:1px solid rosybrown;
    height: 800px;
}
.Single{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .card-img {
        max-width: fit-content;
        align-items: center;

}

.card-title {
    margin-bottom: .50rem;
    text-indent: 50px;
    
}
.product-img{
    width: 200px;
   padding: 2rem;
}


.SingleProduct{
    cursor: pointer;
}

.btn-danger {
    color: black;
    background-color: rosybrown;
    margin: 2rem;
}