.buttonProduct {
  background-color:rgb(12, 218, 115)!important;
    color:#FFFFFF !important;
    border:0.16em solid rgba(255,255,255,0) !important;
    margin: 1rem;
    border-style: double;
    border:0.16em solid rgba(255,255,255,0);
    border-radius: 25% !important;
}

@media only screen and (min-width: 768px) {
  .Home {
    flex-direction: row
  }
}